body{
    background-color: black
}

.caption-alignment{
    position: absolute;
    width: 30vw;
    text-align: left;
    left: 180px;
    top: 0px;
}

.text-width{
    width: 35vw;
}
@font-face {
    font-family: "ds";
    src: url("fonts/OptimusPrincepsSemiBold.ttf");
}

.ds-font{
    font-family: "ds";
}

#first-slide-text{
    position: absolute; 
    left: 51%; 
    top: 50%;
}

#second-slide-text{
    position: absolute;
    left: 29%;
    top: 10%;
}

#third-slide-text{
    position: absolute;
    top: 55%;
    left: 42%;
}

.card{
    
    border:none;
    background-color: black;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

p{
    font-family: "ds";
    color: azure;
}

h5{
    font-family: "ds";
    font-size: x-large;
    color: azure;
}

span{
    color: dimgray;
}


